/*------------------Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    background-color: var(--grey-color);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--patillos-color);
    display: inherit;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.cont_pago a{
    color: var(--boton-color);
}



